.job-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.616);
    padding: 16px;
    margin-right: 1rem;
    margin-bottom: 16px;
    width: 300px;
    max-width: 600px;
  }
  
  .job-card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .job-card__info {
    font-size: 16px;
    margin-bottom: 16px;
  }